body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	background-image: url("https://c2.staticflickr.com/4/3265/3391072681_32404a7630.jpg");
}

.header{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 2.5em;
	text-align: center;
}

#common{
	background-color: orange;
	border-radius: 15px;
	width: 100%;
	text-align: center;
	height: 160px;

}

#logo{
	margin-top: 20px;

}
 



h1{
	text-align: center;
}

#description{
	height:200px;
	width:400px;
}



#wrapper {
  margin-left: 200px;
}
#left_column {
  float: left;
  width: 50%;
  background-color: #CCF;
}
#right_column {
  float: right;
  width: 50%;
  background-color: #FFA;
}
#cleared {
  clear: both;
}

#t1{
	text-align: center;
	width:100%;
}

#content{
	border-radius:15px;
background-color: orange;
;height:307px;width:1000px;margin: 0 auto;
	}

#p1{
	font-size: 1.6em;
	text-align: center;
}
