body {
	font-family: Helvetica, sans-serif;
 	background-image: url("https://c2.staticflickr.com/4/3265/3391072681_32404a7630.jpg");
}


#common{
	background-color: orange;
	border-radius: 15px;
	width: 100%;
	text-align: center;
	height: 160px;

}

#logo{
	width:240px;
	height:70px;
	margin-top: 20px;

}	

#t1{
	text-align: center;
	width:100%;
}

.header {
	font-size: 1.5em;
	text-align:center;
}

#t2 {
	margin: 0 auto;
	margin-top: 20px;
}

