<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='examples.css') }}">
</head>
<body>


<div id = 'common'>
<h1>
	Culturebox - A thousand years of culture, all in one box
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a>
		<td><a href="{{url_for('examples')}}">Learn More</a>
		<td><a href="{{url_for('profile')}}">Profile</a>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a>
		<td><a href="{{url_for('sign_in')}}">Log In</a>
	</tr>
</table>
</div>

<div class = "example">
	<table>
		<tr>
			<td>Title: </td>
			<td> {{examples[0].title}}</td>
		</tr>
		<tr>
			<td>Content:</td>
			<td>{{examples[0].content}}</td>
		</tr>


	</table>
	<br>
	<table>
		<tr>
			<td>Title: </td>
			<td> {{examples[1].title}}</td>
		</tr>
		<tr>
			<td>Content:</td>
			<td>{{examples[1].content}}</td>
		</tr>


	</table>
	</div>