<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='examples.css') }}">
</head>
<body>


<div id = 'common'>
<h1>
	<img id='logo' src = 'static/logo.jpg'>
	<b> Culturebox - A thousand years of culture, all in one box </b>
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a> </td>
		<td><a href="{{url_for('examples')}}">Learn More</a> </td>
		<td><a href="{{url_for('profile')}}">Profile</a> </td>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a> </td>
		{% if logged_in %}
		<td><a href = "{{ url_for('logout') }}"> Logout </a> </td>
		{% else %}
		<td><a href="{{url_for('sign_in')}}">Log In</a> </td>
		{%endif%}
	</tr>
</table>
</div>

<div>
	{% for example in examples %}

	<table class = "example">
		<tr class = 'title'>
			<td> {{example.title}}</td>
		</tr>
		<tr class = 'content'>
		
			<td>{{example.content}}</td>
		</tr>



	</table>
	{% endfor %}
	</div>