<!DOCTYPE html>

<html>

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='home_page.css') }}">
<body>

{% if error is defined %}
<script language="javascript" >window.onload = function() {alert("{{error}}");};</script>
{% endif %}
<div id = 'common'>
<h1>
	<img id='logo' src = 'static/logo.jpg'>
	<b> Culturebox - A thousand years of culture, all in one box </b>
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a>
		<td><a href="{{url_for('examples')}}">Learn More</a>
		<td><a href="{{url_for('profile')}}">Profile</a>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a>
		{% if logged_in %}
		<td><a href = "{{ url_for('logout') }}"> Logout </a>
		{% else %}
		<td><a href="{{url_for('sign_in')}}">Log In</a>
		{%endif%}
	</tr>
</table>

 

  <div id="content" >
    <p id='p1'>        <b> "A nation's culture resides in the hearts and in the soul of its people" <br> -Mahatma Ghandi </b> <br> Since we believe that culture is the most important thing for every nation, we decided to create CultureBox. <br> CultureBox is a multicultural gift exchange website where you can exchange gifts and souvenires with people from all over the world. <br> Our website offers you a special experience to socialize with people from different cultures, learn about their interests, their traditional clothes and a lot more... <br> Just sign up and start sending and recieving gifts from all over the world!</p>
  </div>

</div>

</body>

</html>
