<!DOCTYPE html>

<html>

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
<body>
<div id="container" style="width:1000px; margin: auto;">
  <h1> Culturebox- A thousand years of culture, all in one box</h1></div>

  <div style="text-align:center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpBTyHBmzZ4YoUxLzQj2dqzhsGZFPzELQxOCZu6n9Wb06v1Ki-vw" width="800px" height="350px">
  </div>

  <div id="menu" style="background-color:#680000;height:200px;width:100px;float:left;">
    <b>Menu</b>
    <br><a href="{{ url_for('sign_in') }}"> Log In </a>
    <br><a href="{{ url_for('sign_up') }}">Sign Up</a>
    <br><a href="{{ url_for('examples') }}">Learn More</a>
    <br><a href="{{ url_for('profile') }}">profile</a>
  </div>

  <div id="content" style="background-color:#FFCC33  ;height:200px;width:1000px;float:left;" >
    <p id='p1'>"A nation's culture resides in the hearts and in the soul of its people" <br> -Mahatma Ghandi<br> Since we believe that culture is the most important thing for every nation, we decided to create CultureBox. <br> CultureBox is a multicultural gift exchange website where you can exchange gifts and souvenires with people from all over the world. <br> Our website offers you a special experience to socialize with people from different cultures, learn about their interests, their traditional clothes and a lot more... <br> Just sign up and start sending and recieving gifts from all over the world!</p>
  </div>

</div>

</body>

</html>
