<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'log_in.css') }}">
</head>
<body>

<div id = 'common'>
<h1>
	Culturebox - A thousand years of culture, all in one box
</h1>
<table id="t1">
	<tr>
		<td><a href="{{url_for('main')}}">Home</a>
		<td><a href="{{url_for('examples')}}">Learn More</a>
		<td><a href="{{url_for('profile')}}">Profile</a>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a>
		<td><a href="{{url_for('sign_in')}}">Log In</a>
	</tr>
</table>
</div>

<div class="header">
Log in to Culturebox 
</div>
<form action = "{{ url_for('sign_in') }}" method = 'post'>
<table id = t2>
<td>Username:</td>
<td>
<input type="text" name="name">
</td>
<tr><td>Password:</td>
<td>
<input type="password" name = "password">
</td>
</tr>
</table><input type="submit" value = "Log In" id = submit>
</form>
