<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'log_in.css') }}">
</head>
<body>
{% if error is defined %}
<script language="javascript" >window.onload = function() {alert("{{error}}");};</script>
{% endif %}
<div id = 'common'>
<h1>
	<img id='logo' src = 'static/logo.jpg'>
	<b> Culturebox - A thousand years of culture, all in one box </b>
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a> </td>
		<td><a href="{{url_for('examples')}}">Learn More</a> </td>
		<td><a href="{{url_for('profile')}}">Profile</a> </td>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a> </td>
		{% if logged_in %}
		<td><a href = "{{ url_for('logout') }}"> Logout </a> </td>
		{% else %}
		<td><a href="{{url_for('sign_in')}}">Log In</a> </td>
		{%endif%}
	</tr>
</table>
</div>

<div class="header">
Log in to Culturebox 
</div>
<form action = "{{ url_for('sign_in') }}" method = 'POST'>
<table id = t2>
<td>Username:</td>
<td>
<input type="text" name="username">
</td>
<tr><td>Password:</td>
<td>
<input type="password" name = "password">
</td>
</tr>
</table><input type="submit" value = "Log In" id = submit>
</form>
