<!DOCTYPE html>

<html>

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='profile.css') }}">
<body>

<div id = 'common'>
<h1>
	<img id='logo' src = 'static/logo.jpg'>
	<b> Culturebox - A thousand years of culture, all in one box </b>
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a> </td>
		<td><a href="{{url_for('examples')}}">Learn More</a> </td>
		<td><a href="{{url_for('profile')}}">Profile</a> </td>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a> </td>
		{% if logged_in %}
		<td><a href = "{{ url_for('logout') }}"> Logout </a> </td>
		{% else %}
		<td><a href="{{url_for('sign_in')}}">Log In</a> </td>
		{%endif%}
	</tr>
</table>
</div>

<div class = 'header'>
Your profile
</div>

<div id = 'profile'>
<table> 
	<tr>
		<td> Name: </td>
		<td>{{user.first_name}} {{user.last_name}}</td>
	</tr>
	<tr>
		<td> Gender: </td>
		<td>{{user.gender}}</td>
	</tr>
	<tr>
		<td> Country: </td>
		<td>{{user.country}}</td>
	</tr>
	<tr>
		<td> City: </td>
		<td>{{user.city}}</td>
	</tr>
	<tr>
		<td> Description: </td>
		<td> {{user.description}}</td>
	</tr>
	<tr>
		<td> Cultural heritage: </td>
		<td>{{user.cultural_heritage}}</td>
	</tr>
	<tr>
		<td> Email:</td>
	</tr>
	</table>
</div>









</body>

</html>
