<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sign_up.css') }}">
</head>
<body>


<div id = 'common'>
<h1>
	<img id='logo' src = 'static/logo.jpg' width="240px" height="70px">
	<b> Culturebox - A thousand years of culture, all in one box </b>
</h1>
<table id='t1'>
	<tr>
		<td><a href="{{url_for('main')}}">Home</a> </td>
		<td><a href="{{url_for('examples')}}">Learn More</a> </td>
		<td><a href="{{url_for('profile')}}">Profile</a> </td>
		<td><a href="{{url_for('sign_up')}}">Sign Up</a> </td>
		{% if logged_in %}
		<td><a href = "{{ url_for('logout') }}"> Logout </a> </td>
		{% else %}
		<td><a href="{{url_for('sign_in')}}">Log In</a> </td>
		{%endif%}
	</tr>
</table>
</div>
<div class="header">
	Sign up to Culturebox 
</div>
<table id = 'sign_up_form'>
	<form action="{{ url_for('sign_up')}}" method = 'post'>
		<tr>
			<td>First name:</td>
<td>
			<input type="text" name="first_name">
		</td>
	</tr>
	<tr>
		<td>
			Last name:</td>
<td>
			<input type="text" name = "last_name">
		</td>
	</tr>
	<tr>
		<td>
			Gender:</td>
<td>
			<input type="radio" name="gender" value="Male">Male
			<input type="radio" name="gender" value="Female">Female
			<input type="radio" name="gender" value="Other">Other
		</td>
	</tr>
	<tr>
		<td>
			Country:</td>
<td>
			<input type="text" name = "country">
		</td>
	</tr>
	<tr>
		<td>
			City:
</td>
<td>
			<input type="text" name = "city">
		</td>
	</tr>
	<tr>
		<td>
			Date of birth:</td>
<td>
			<input type="date" name = "dob">
		</td>
	</tr>
	<tr>
		<td>
			Description:</td>
<td>
			<input id = 'description' type="text" name="description">
		</td>
	</tr>
	<tr>
		<td>
			Cultural Heritage:</td>
<td>
			<input type="text" name='cultural_heritage'>
		</td>
	</tr>
	<tr>
		<td>
			Email:</td>
<td>
			<input type="text" name = "email">
		</td>
	</tr>
	<tr>
		<td>
			Select your activity status:</td>
<td>
			<select name="status">
				<option value="True">Active</option>
				<option value="False">Inactive</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			Username:</td>
<td>
			<input type="text" name="username">

		</td>
	</tr>
	<tr>
		<td>
			Password:</td>
<td>
			<input type="password" name="password">
		</td>
	</tr>
</table>
<input type="submit" name="submit"></input>
	</form>



<div class="content">
<form action="{{url_for('sign_up')}}" method="post">
</form>
<span id = "cancel">
<a href={{ url_for('main') }}>Cancel</a>
</span>
 
</div>

<div class="footer">
Y2 2015
</div>

</body>
</html>
